@import "./src/styles/mixins";
@import "./src/styles/variables";

.booking {
  width: 380px;
  padding: 30px;
  box-shadow: $shadowCommon;

  h3 {
    @include title;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &_price {
      @include grey-text-color;
      span {
        font-weight: bold;
      }
    }
  }

  &__title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;

    h3 {
      font-size: 24px;
    }
    span {
      @include title;
      color: $purpleText;
    }
  }

  &__dates {
    display: flex;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 20px;
  }

  &__price {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include grey-text-color;
      margin-bottom: 10px;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;

    h4 {
      font-size: 19px;
      font-weight: bold;
    }

    span {
      min-width: 60%;
      height: 5px;
      border-top: 1px dashed rgba(31, 32, 65, 0.25);
    }
  }

  &__button {
    @include button-gradient;
    position: relative;

    span {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
}
