@import "./src/styles/mixins";
@import "./src/styles/variables";


.room-profile__about {
  display: flex;
  gap: 70px;

  h3 {
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: bold;
  }

  &_item {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-weight: bold;
      }

      span {
        @include grey-text-color;
      }
    }
  }

  &_impressions {

  }
}
