$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$opacityGradient: linear-gradient( 180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
$purpleText: #BC9CFF;
$darkText: #1F2041;
$shadowBottom: 0 10px 20px rgba(31, 32, 65, 0.05);
$shadowCommon: 0px 0px 25px rgba(0, 0, 0, 0.2);
$border: 1px solid rgba(31, 32, 65, 0.25);
$currentDayColor: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
