@import "./src/styles/mixins";
@import "./src/styles/variables";

.login__form {
  form {
    p {
      color: red;
      margin-bottom: 10px;
      font-size: 12px;
    }
    display: flex;
    flex-direction: column;

    input {
      @include input;
      margin-bottom: 10px;
    }

    button {
      @include button-gradient;
      border: none;
      outline: none;
      position: relative;
      margin: 10px 0 30px 0;

      .arrow-forward {
        position: absolute;
        right: 7px;
        top: 5px;
      }
    }
  }

}
