@import "./src/styles/mixins";
@import "./src/styles/variables";

.header {
  display: flex;
  padding: 18px 0;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: $shadowBottom
}

nav {
  display: flex;
  align-items: center;
}


.navList {
  display: flex;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    @include grey-text-color($opacity: 0.75);

    &:first-child {
      font-weight: bold;
    }
  }
}

.buttons {
  display: flex;
}

.reg {
  @include button-gradient;
}

.login {
  @include button-white;
  margin-right: 20px;
}


