.arrowDown {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    right: 6px;
    border-bottom: 3px solid rgba(31, 32, 65, 0.5);
    border-right: 3px solid rgba(31, 32, 65, 0.5);
    z-index: 2;
    transform: rotate(45deg);
  }
}
