@import "./src/styles/mixins";
@import "./src/styles/variables";

.room-profile__about_item {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-weight: bold;
    }

    span {
      @include grey-text-color;
    }
  }
}
